<launch>
    <node pkg="laser_scan_matcher" type="laser_scan_matcher_node" name="laser_scan_matcher_node" output="screen">
        <param name="fixed_frame" value = "odom"/>
        <param name="max_iterations" value="10"/>
        <param name="publish_pose_stamped " value="true"/>
        <param name="use_imu " value="false"/>
        <param name="use_cloud_input " value="false"/>
        <remap from="imu/data" to="/oakd/imu"/> 
        <remap from="cloud" to="/oakd/stereo/points"/> 
    </node>
</launch>